doctype html
html(lang='en')
  head

    meta(
      charset='UTF-8'
    )
    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge, chrome=1'
    )
    meta(
      name='viewport'
      content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width'
    )
    meta(
      name='description'
      content=''
    )

    title Tweed

    block head
    
    link(
      href='/public.css'
      rel='stylesheet'
      media='screen'
    )

  body

    #body
      block body

    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
      analytics.load('iPSb4xsgbDa3TvuqW6zn4WWWM6GDmSM1');
      analytics.page();
      analytics.identify('#{ip}');
      }}();

    script(
      type='text/javascript'
      src='/app/vendor/nprogress.js'
    )
    script.
      NProgress.start();
      NProgress.set(0.4);
    
  script(src='/public.js')
  script.
    NProgress.done();
    require('app');
